<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulaire EJS</h1>
    <form action="/submit-contact-data" method="post">
        Nom: <input type="text" name="nom"><br>
        Prénom:<input type="text" name="prenom"><br>
        Email: <input type="email" name="email"><br>
        Message: <textarea name="message" id="" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Envoyer">
    </form>

</body>
</html>